$primary: #331c13;
$secondary: #996f44;
$accent: #cfb395;

$black: #242331;
$white: #f8f8f8;

$danger: #e63946;
$warning: #f1faee;
$success: #a8dadc;

$title: 'Playfair Display', serif;
$body: 'Lato', sans-serif;
