@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/playfair-display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato/Lato-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato/Lato-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato/Lato-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato/Lato-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

* {
	font-family: 'Lato', sans-serif;
	font-size: 1.125rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
}

body {
	background: $black;
}

.section {
	width: min(100%, 2200px);
	padding: 4rem;
	background: $black;
	color: $white;
	margin: auto;
	@media screen and (max-width: 768px) {
		padding: 1rem;
	}
}

.title {
	font-size: clamp(2rem, 5vw, 4rem);
	font-family: $title;
}

.text {
	font-size: clamp(0.75rem, 5vw, 1rem);
	font-family: $body;
}

.debug {
	border: 1px solid red;
}

.link {
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	cursor: pointer;
	position: relative;
	&:hover {
		&::after {
			transform: scaleX(1);
		}
	}
	&::after {
		content: '';
		position: absolute;
		bottom: -0.1rem;
		left: 0;
		width: 100%;
		height: 0.1rem;
		background: $white;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.2s ease-in-out;
	}
}

.primary {
	background: $primary;
	color: $white;
}

.secondary {
	background: $secondary;
	color: $white;
}

.accent {
	background: $accent;
	color: $white;
}

.danger {
	background: $danger;
	color: $white;
}

.warning {
	background: $warning;
	color: $white;
}

.success {
	background: $success;
	color: $white;
}
